.box1{
    width: 100px;
    height: 100px;
    background-color: rgb(117, 197, 240);
    animation-name: box1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-delay: 1s;
    
 
}
@keyframes box1{
    0%{
        transform:translateX(0px) translateY(0px) rotate(100deg); 
         background-color: rgb(1, 166, 255);
    }
    25%{
        transform:translateX(300px) translateY(0px) rotate(200deg);
         background-color: rgb(37, 9, 245);
    }
    50%{
        transform:translateX(300px) translateY(300px)rotate(300deg);
        background-color: rgb(196, 241, 17);
    }
    75%{
        transform:translateX(0px) translateY(300px)rotate(400deg);
        background-color: rgb(233, 24, 156);
    }
    100%{transform: translateX(0px)translateY(0px)rotate(500deg);
        background-color: rgb(233, 148, 0);
}
}

.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(230, 43, 37);
    animation-name: box2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-delay: 1s;
    
    
}

@keyframes box2{
    0%{
        transform:translateX(300px) translateY(300px) rotate(100deg); 
         background-color: rgb(0, 155, 238);
    }
    25%{
        transform:translateX(0px) translateY(300px) rotate(200deg);
         background-color: rgb(25, 0, 215);
    }
    50%{
        transform:translateX(0px) translateY(0px)rotate(300deg);
        background-color: rgb(137, 171, 0);
    }
    75%{
        transform:translateX(0px) translateY(300px)rotate(400deg);
        background-color: rgb(82, 5, 53);
    }
    100%{transform: translateX(300px)translateY(300px)rotate(500deg);
        background-color: rgb(236, 174, 68);
}
}

